/* Contraste alto estilo Brawl Stars */
.alto-contraste {
  background-color: #000 !important;
  color: #ffcc00 !important;
}

.alto-contraste a {
  color: #00ffff !important;
}

.alto-contraste .btn-primary {
  background-color: #ffcc00 !important;
  color: #000 !important;
}

.alto-contraste img {
  filter: brightness(0.8) contrast(1.2);
}
